/*Horario sena*/
table{
    width: 100%;
    border-collapse: collapse;
    height: 100%;
  }
  
  .horaHorario{
    display: block;
    width: 11.3vw;
    text-align: center;
  }
  thead{
    height: 5vh;
    border: 1px solid var(--colorNegro);
  }
  td, th{
    border: 1px solid var(--colorNegro);
    padding: 0;
    border-collapse: collapse;
  }