/*barra de navegacion*/
header{
    position: fixed;
    top: 0;
  
    height: 100vh;
    width: 4vw;
  
    background-color: var(--colorPrimario);
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contNavBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .icono{
    color: var(--colorBlanco);
    width: 2vw;
    height: 2vw;
    
  }
  .Link{
    text-decoration: none;
  }