/*Declaramos los colores principales de la APP*/
:root{
  --colorPrimario : #00324D;
  --colorPrimarioClaro : rgba(0, 50, 77, 0.9);
  --colorSecundario: #39A900;
  --colorBlanco: #fff;
  --colorNegro: #000;
  --colorNegroConOpacidad: rgba(0,0,0, .5);
  --colorBlancoConOpacidad: rgba(255,255,255, .8);
}

/*Contenedor Formularios*/
.contForm{
  height: 100vh;
  width: 22vw;

  background-color: var(--colorPrimarioClaro);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contenido{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}